/* elementor image wrapper */
.elementor {
  max-width: 300px;
}

.elementor img {
  height: auto;
  max-width: 100%;
  box-shadow: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
}

/* hero images placeholders */
.hero-image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 18px;
}

.image-placeholder {
  width: 460px;
  height: 220px;
  background: #e5e7eb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #6b7280;
}

/* nav arrows (slider) */
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  color: #0f4c81;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 26px;
  line-height: 1;
}

.nav-arrow.left {
  left: 28px;
}

.nav-arrow.right {
  right: 28px;
}


/* SLIDER FULL WIDTH */
.home-slider {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.slide-img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  border-radius: 8px;
}

/* CUSTOM ARROWS */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 25px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.55);
}


/* SLIDER FULL WIDTH */
.home-slider {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.slide-img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  border-radius: 8px;
}

/* CUSTOM ARROWS */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 25px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.55);
}